@model IEnumerable<ProyectoFinal.Models.Empleados>

@{
    ViewBag.Title = "Index";
}

<div class="d-flex justify-content-between mt-4 mb-3">
    <h2>Index</h2>
    @Html.ActionLink("Create New", "Create",new { area=""},new { @class="btn btn-primary"})
</div>
<table class="table table-hover mt-4 border border-light border-2 shadow shadow-lg">
    <tr class="bg-primary h-75 p-3 text-white">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sueldo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @item.Sueldo.ToString("n2")
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEmpleado }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEmpleado }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEmpleado })
        </td>
    </tr>
}
<tr>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>

    </td>
    <td>
        <span class="fw-bold">Nomina Total:</span> @ViewBag.SumAllSalary.ToString("n2")
    </td>
    <td>

    </td>
</tr>

</table>
